**List comprehensions** allow us to build out lists using a different notation.

It is just like a one line <code> for </code>loop built inside of brackets[ ].


# Example__1

In [24]:
# List comprehensions are alternative to for loops and append()
mystring = "Hello"

mylist =[]

for letter in mystring:
    mylist.append(letter)

In [27]:
mylist

['H', 'e', 'l', 'l', 'o']

In [30]:
# Let's use List comprehension for the above

mylist =[letter for letter in mystring]

In [31]:
mylist #see how easily we can create same list

['H', 'e', 'l', 'l', 'o']

In [32]:
lst = [x for x in 'word']

In [33]:
lst

['w', 'o', 'r', 'd']

# Note: The object used must be iterable.

Like **[elements for elements in object]**:      
   object here must be iterable

# Example__2

Similar to mathematical equation-- **x^2 :x in {0,1,2,....,10}**

In [34]:
mylist = [num for num in range(0,11)]

In [35]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Now perform mathematical operations on them
mylist = [num**2 for num in range(11)]

In [37]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
# The above things using for loops
mylist =[]

for num in range(11):
    mylist.append(num**2)

In [39]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Example__3

Adding <code> *if* </code> statement

In [47]:
mylist = [x for x in range(0,11) if x%2 == 0]

mylist

[0, 2, 4, 6, 8, 10]

In [49]:
# using for loops
mylist = []

for x in range(0,11):
    if x%2 == 0:
        mylist.append(x)
        
print(mylist)

[0, 2, 4, 6, 8, 10]

In [42]:
# aaply mathematical operations also

[x**3 for x in range(11) if x%2 == 0] # i.e, cubes of even numbers only

[0, 8, 64, 216, 512, 1000]

# Example__4
We can do more complicated Arithmetic

In [45]:
# convert celcius to fahrenheit
celcius = [0,10,21.4,30.1,40]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [46]:
fahrenheit

[32.0, 50.0, 70.52, 86.18, 104.0]

In [50]:
# using for loops
fahrenheit = []

for temp in celcius:
    new_temp = ((9/5)*temp + 32)
    fahrenheit.append(new_temp)
    
fahrenheit

[32.0, 50.0, 70.52, 86.18, 104.0]

# Example__5
Combining both **if and else** statements in a single line

In [60]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [62]:
# using for loop
result =[]

for x in range(11):
    if x%2==0:
        result.append(x)
    else:
        result.append('ODD')
        
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

#see above that the order of <code>*for*</code> is reversed as compared to we used it earlier.

# Example__6
We can also perform nested list comprehensions.

In [68]:
# each x is multiplied by every y
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)
        
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [69]:
# using list comprehension
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [70]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [71]:
lst =[x**3 for x in[y**2 for y in range(0,5)]]

lst

[0, 1, 64, 729, 4096]

In [96]:
# using for loops
lst =[]
list_y=[]

for y in range(0,5):
    list_y.append(y**2)
for x in list_y:
    lst.append(x**3)

In [97]:
lst

[0, 1, 64, 729, 4096]